body {
  background-color: rgb(245, 237, 194);
  font: italic;
  text-align: center;
  font-size: larger;
}
h1 {
  color: rgb(255, 68, 0);
  font: italic;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}
p {
  color: green;
  font: italic;
  text-align: center;
}
p1 {
  color: red;
  font: italic;
  text-align: center;
}
h2 {
  color: rgb(14, 12, 11);
  font: italic;
  text-align: center;
}
p2 {
  color: green;
  font: italic;
  text-align: left;
}
p3 {
  color: green;
  font: italic;
  text-align: left;
}
#cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.miami {
  display: grid;
  justify-content: center;
  flex-direction: row;
}
.card-text {
  font-size: medium;
  font-family: monospace;
}
.first-group {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.card-img-top {
  height: 16rem;
  width: 18rem;
}
.card-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
